#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.addtodo {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.addtodo label {
  display: flex;
  flex-direction: column;
}