#root {
  width: 100%;
  margin: 0 auto;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.addtodo {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.addtodo label {
  display: flex;
  flex-direction: column;
}

.App {
  padding: 2rem;
}
